<div class="flex gap-2 font-medium text-xl mt-3 mx-auto">
  <h2 class="text-gray-500 ml-2 text-center">Password strength:</h2>
  <ul class="flex gap-0.5 text-end items-center pt-2">
    <li
      class="w-24 h-2 bg-gray-300 rounded-sm"
      [ngClass]="{
        'bg-red-500': force <= 1,
        'bg-yellow-500': force === 2,
        'bg-green-500': force === 3
      }"
    ></li>
    <li
      class="w-24 h-2 bg-gray-300 rounded-sm"
      [ngClass]="{
        'bg-red-500': force === 0,
        'bg-yellow-500': force === 2,
        'bg-green-500': force === 3
      }"
    ></li>
    <li
      class="w-24 h-2 bg-gray-300 rounded-sm"
      [ngClass]="{
        'bg-red-500': force === 0,
        'bg-green-500': force === 3
      }"
    ></li>
  </ul>
</div>
