<h1 class="m-auto text-5xl text-center pt-5 font-semibold text-purple-700">
  Password's strength checker
</h1>
<form [formGroup]="form" class="m-auto w-[500px] mt-5">
  <div class="flex flex-col">
    <label class="text-3xl text-gray-600 font-medium">Password</label>
    <input
      type="password"
      class="border-2 border-gray-300 w-[500px] rounded-md text-2xl mt-4 p-3 focus:border-purple-700 focus:outline-none"
      formControlName="password"
    />
    <app-password-strength-bar
      *ngIf="form.controls['password'].dirty"
      [passwordToRead]="form.value.password"
    ></app-password-strength-bar>
  </div>
</form>
